<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pathfinder Live Character Sheet</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="assets/lib/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="liveCharacterSheet" ng-controller="AppController as app" layout="row" ng-cloak>

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" aria-label="Show Menu List" md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h3>Menu</h3>
    </md-toolbar>

    <md-list>
      <md-list-item ng-repeat="item in app.menuItems">
        <a href="{{::item.path}}" ng-href="{{::item.path}}">{{::item.name}}</a>
      </md-list-item>
    </md-list>

  </md-sidenav>

  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1">
      <md-button id="main" class="menu" hide-gt-sm ng-click="app.toggleMenu()" aria-label="Show Menu List">
        <md-icon md-svg-icon="menu" ></md-icon>
      </md-button>
      <h3>Pathfinder Live Character Sheet</h3>
    </md-toolbar>

    <md-content flex ng-view id="content">
      content here
    </md-content>

  </div>
    <!-- Libraries -->
    <script src="lib/angular.js"></script>
    <script src="lib/angular-animate.js"></script>
    <script src="lib/angular-aria.js"></script>
    <script src="lib/angular-route.js"></script>
		<script src="lib/angular-cache.js"></script>
    <script src="lib/angular-material.js"></script>
    <!-- App -->
    <script src="src/app.js"></script>
  </body>
</html>
